.App {
  font-family: system-ui, sans-serif;
  text-align: center;
  padding: 2rem;
}

.card {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color:rgb(51, 48, 48);
  color: #969696;

}
